<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="box">
        <div>
            <h2>Register</h2>
        </div>

        <form class="example-form">
            <div>
                <div class="example-full-width">
                    <input matInput placeholder="Username">
                </div>

                <div class="example-full-width">
                    <input matInput placeholder="Email">
                </div>

                <div class="example-full-width">
                    <input matInput placeholder="Password">
                </div>

                <div class="example-full-width">
                    <label>Choose a role...</label>
                    <select>
            <option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </option>
          </select>
                </div>

            </div>

            <button mat-stroked-button color="accent" class="btn-block">Register</button>

        </form>
    </div>
</div>