<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ACME Coil Winding Programs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="isUserAuthenticated()" class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li *ngIf="isUserAuthenticated()" class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="title-container">
    <h1 class="title">Part Numbers</h1>
</div>
<div *ngFor="let pn of partNumbers" class="detail-container">
    <div class="parts">
        <a [routerLink]="['/part-detail', pn.partNo]">{{pn.partNo}}</a>
    </div>
</div>
<div>
    <button class="btn btn-primary" (click)="logout()">Logout</button>
</div>